 <%- include('partials/header'); -%>
 <div class="loginbox">
	<img src="http://www.vijayyadav.tk/images/avatar.png" class="avatar">
	<h1>Login Here</h1>
	<form action="/" method="POST" >
		<p>Username</p>
		<input type="text" name="username" placeholder="Username">
		<p>Password</p>
		<input type="Password" name="password" placeholder="Enter Password">
		<input type="submit">
		
		<a href="/register">Don't have an account ?</a>
	</form>
</div>
  
  <%- include('partials/footer'); -%>
